<div class="col-md-6 offset-md-3">
    <h2>Lista Clientes</h2>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="filterClients" placeholder="Buscar ..." [(ngModel)]="filterClients">
            </div>    
        </div>
        <div class="col">
            <div class="form-group">
                <button class="btn btn-success" (click)= "export(clients)" style="margin-left : 10px;">Exportar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                <th>Shared Key</th>
                <th>Business ID</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date Added</th>
                <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let client of clients | filter:filterClients">
                    <td>{{client.sharedKey}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.phone}}</td>
                    <td>{{client.dateAt}}</td>
                    <td>
                        <button (click)= "deleteClient(client.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>