
  <div class="nav-side-menu">
    <!-- title component -->
      <div class="brand animated swing">Prueba</div>
      <i class="fa fa-bars fa-2x toggle-btn animated flip" data-toggle="collapse" data-target="#menu-content"></i>
          
          <div class="menu-list">
            <!-- menu structure -->
              <ul id="menu-content" class="menu-content collapse out">
                  
                  <li class="nav-item">
                    <a [routerLink]="['/clients']" routerLinkActive="active" class="nav-link" >Lista Clientes</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="create-client" routerLinkActive="active" class="nav-link" >Registrar Clientes</a>
                  </li>
                  
              </ul>
       </div>
  </div>
  