<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de client</h3>
    <form (ngSubmit)= "onSubmit()" #clientForm = "ngForm">
      <div class="form-group">
        <label>Nombre : </label>
        <input type = "text"
        class="form-control"
        id = "name"
        [(ngModel)] = "client.name"
        name = "name"
        onkeydown="return /[a-z, ]/i.test(event.key)"
        required
        minlength="4"
        maxlength="50"
        placeholder="Digite su nombre "
        #name = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "name.invalid && (name.dirty || name.touched)">
          <div *ngIf = "name.errors.required">
            Digite su nombre y apellido por favor
          </div>
          <div *ngIf = "name.errors.minlength">
            El nombre tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf = "name.errors.maxlength">
            El nombre tiene que tener como maximo 100 caracteres
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Telefono : </label>
        <input type = "text"
        class="form-control"
        id = "phone"
        [(ngModel)] = "client.phone"
        name = "phone"
        (keypress)="validateFormat($event)"
        required
        minlength="10"
        maxlength="12"
        placeholder="Digite su Telefono "
        #phone = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "phone.invalid && (phone.dirty || phone.touched)">
          <div *ngIf = "phone.errors.required">
            Digite su telefono por favor
          </div>
          <div *ngIf = "phone.errors.minlength">
            El telefono tiene que contener como minimo 10 caracteres
          </div>
          <div *ngIf = "phone.errors.maxlength">
            El telefono tiene que tener como maximo 12 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email : </label>
        <input type = "email"
        class="form-control"
        id = "email"
        [(ngModel)] = "client.email"
        name = "email"
        pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
        required
        placeholder="Digite su email "
        #email = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "email.invalid && (email.dirty || email.touched)">
          <div *ngIf = "email.errors.required">
            Digite su email por favor
          </div>
          <div *ngIf = "email.errors.pattern">
            Por favor digite el email con el siguiente formato : user100@gmail.com
          </div>
        </div>
      </div>
      <script>
        angular.module('dateExample', [])
          .controller('DateController', ['$scope', function($scope) {
            $scope.example = {
              value: new Date(2010, 11, 28, 14, 57)
            };
          }]);
      </script>
      <div class="form-group">
        <label>Date At : </label>
        <input type="datetime-local" class="form-control" id="dateAt" name="input" [(ngModel)] = "client.dateAt"
        placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2030-12-31T00:00:00" required />
      </div>
      <div class="form-group">
        <label>Date End : </label>
        <input type="datetime-local" class="form-control" id="dateEnd" name="dateEnd" [(ngModel)] = "client.dateEnd"
        placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2030-12-31T00:00:00" required />
      </div>
  
      <button class="btn btn-success" [disabled]= "!clientForm.form.valid">Guardar</button>
    </form>
  </div>
  

